// @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap");

// $fontFamily: "Roboto", sans-serif;
$fontFamily: "Goldman", sans-serif;
$color1: #fafafa;
$color2: #f4f4f5;
$color3: #e4e4e7;
$color4: #d4d4d8;
$color5: #a1a1aa;
$color6: #71717a;
$color7: #52525b;
$color8: #3f3f46;
$color9: #27272a;
$transition: all .5s ease-in-out;

// table colors

$colorPosition1: #ecfccb;
$colorPosition2: #d9f99d;
$colorPosition3: #bef264;
$colorPosition4_5: #a3e635;
$colorPosition6_10: #84cc16;
$colorPositionPlus: #65a30d;

